body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fefefe;
  background-color: #010101;
}
img {
  height: 350px;
  width: 450px;
  border-radius: 1em;
}
.titulo-destaque {
  color: burlywood;
}
.titulo {
  font-weight: 600;
  /* font-size: 2em; */
}
.apresentacao {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
