@font-face {
  font-family: 'Rowdies', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
}
body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  color: #fefefe;
  background-color: #010101;
}
img {
  height: 350px;
  width: 450px;
  border-radius: 1em;
}
.apresentacao {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  /* margin: 10%; */
}
.apresentacao__conteudo {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 615px;
}
.apresentacao__conteudo__titulo {
  text-align: justify;
  font-size: 40px;
  font-weight: 700;
  font-family: 'Rowdies', sans-serif;
}
.apresentacao__conteudo__titulo__destaque {
  color: burlywood;
}
.apresentacao__conteudo__texto {
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

.box-link {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.box-link__link {
  text-align: center;
  width: 170px;
  padding: 21.5px 0;
  margin: 25px 0;
  background-color: chocolate;
  border-radius: 0.5em;
  font-family: 'Rowdies', sans-serif;
  font-size: medium;
  color: #fefefe;
  text-decoration: none;
}
